.element__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .element__image {
    margin: 0 auto;
  }
}

.element__image:hover {
  cursor: pointer;
}
