.footer {
  max-width: 880px;
  margin: 66px auto 0;
  padding-bottom: 60px;
}

@media screen and (max-width: 920px) {
  .footer {
    max-width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    max-width: 282px;
    margin: 48px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding-bottom: 36px;
  }
}
