.profile__title {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
  min-height: 39px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .profile__title {
    font-size: 27px;
    max-width: 189px;
    min-height: 26px;
    margin: 20px auto 0 26px;
  }
}
